.bl-private-header {padding:10px 0; margin-bottom:0; background:#eee;}
.bl-private-header .link {padding:10px 0; line-height:1; font-size:14px;}
.bl-private-header a {color:#0070ff;}
.bl-private-header .user-info {font-size:12px;}